/*Reponsive*/
@media screen and (max-width:1024px){
    body{width: 100%;}
  }
  @media screen and (max-width:900px){
    body{width: 100%;}
    #Slide .slide-item .slide-content p{
      font-size: 15px;
    }
    #Slide .slide-item .slide-content h3{
      font-size: 30px;
    }
    #Slide .slide-item .slide-content .btn-service{
      font-size: 13px;
    }
    #about .container ul{
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      #about .container ul li h1{
       padding-left: 50px;
      }
      #about .container ul li p{
         width: 50%;
         position: relative;
         left: 25%;
      }
      #Blog .container ul{
          display: flex;
          flex-direction: column;
         align-items: center;
      }
  }
  @media screen and (max-width:768px){
    .contact .flex-contact #btn-Change{
      max-width: 100%;
    }
    #Change-ON:hover::before{
      content: "Đêm";
      border-top: 1px solid orange;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      display: none;
      }
      #Change-OFF:hover::before{
        content: "Ngày";
        border-top: 1px solid orange;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        display: none;
      }
    .checkbtn{
      display: block;
    }
    nav .container .menu{
      width: 100%;
    }
    nav .container .menu ul{
      width: 100%;
      height: 34vh;
      background: #001D38;
      text-align-last: center;
      padding-top: 5px;
      padding-bottom: 30px;
      margin-top: 60px;
      transition: all 2s;
      left:0;
    }
    nav .container .menu ul li{
       margin-top: 20px;
       display: block;
    }
    nav .container .menu ul li a{
      margin: 15px 0 150px 80px;
      font-size: 20px;
      color: white;
    }
    nav .container .menu ul li a:hover{
      background: none;
      color: #ff3414;
    }
    nav .container .search a{
      display: none;
    }
    #check:checked >ul{
      left: 0;
    }
    #Slide .slide-item{
      max-width: 100%;
      max-height: 100%;
    }
    .contact .flex-contact .get-fress-quote {
       display: none;
    }
    #Slide .slide-item .slide-content p{
      font-size: 15px;
    }
    #Slide .slide-item .slide-content h3{
      font-size: 30px;
    }
    #Slide .slide-item .slide-content .btn-service{
      font-size: 13px;
    }
    #edu .container{
        font-size: 14px;
  }
  .contact-form{
    width: 275px;
    height: auto;
}
.input-field{
    margin-right: 8%;
  }
  .btn{
      width: 70%;
      padding-left: 20px;
  }
  footer{
      font-size: 10px;
  }
    .left .content .social a{
      padding: 0 00;
    }
    .left .content .social a span{
      height: 20px;
      width: 20px;
      font-size: 20px;
      line-height: 20px;
    }
    iframe{
        width: 100%;
        height: 70%;
    }
    a.on_top {
        width: 20px;
        height: 20px;
        text-align: center;
        padding: 10px 20px;
    }
  }
  @media screen and (max-width:480px){
    #Slide .slide-item .slide-content p{
      font-size: 15px;
    }
    #Slide .slide-item .slide-content h3{
      font-size: 30px;
    }
    #Slide .slide-item .slide-content .btn-service{
      font-size: 13px;
    }
    #edu .container{
        font-size: 12px;
    }
    #Slide .slide-item{
      max-width: 100%;
      height: 700px;
      background-image: url(../img/worship.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      justify-content: center;
      display: flex;
      align-items: center;
    }
    #edu{
      background: #001D38;
      width: 100%;
      padding: 20px 0px 20px 0px;
      line-height: 25px;
    }
    #edu .container h2{
      font-size: 30px;
      font-family: inherit;
      font-weight: 400;
      line-height: 52px;
      color: #F5FBFF;
      margin-bottom: 30px;
     }
    #contact{
      width: 100%;
      padding: 30px 0px 100px 0px;
      background: url(../img/contact.jpg);
      background-size: cover;
      height: 50vh;
    }
    #contact .container h2{
      font-size: 30px;
      font-family: inherit;
      font-weight: 400;
      line-height: 52px;
      color: #001D38;
      margin-bottom: 50px;
     }
    footer{
      font-size: 10px;
  }
  .left .content .social {
    display: flex;
    flex-direction: row;
  }
    .left .content .social a{
      padding: 5px;
    }
    .left .content .social a span{
      height: 20px;
      width: 20px;
      font-size: 20px;
      line-height: 20px;
    }
    iframe{
        width: 100%;
        height: 70%;
    }
    a.on_top {
        width: 20px;
        height: 20px;
        text-align: center;
        padding: 10px 20px;
    }
  }
  @media screen and (max-width:320px){
    #Slide .slide-item .slide-content p{
      font-size: 15px;
    }
    #Slide .slide-item .slide-content h3{
      font-size: 30px;
    }
    #Slide .slide-item .slide-content .btn-service{
      font-size: 13px;
    }
    #edu .container{
        font-size: 12px;
  }
  footer{
    font-size: 10px;
}
  .left .content .social a{
    padding: 0;
  }
  .left .content .social a span{
    height: 20px;
    width: 40px;
    font-size: 20px;
    line-height: 20px;
  }
  iframe{
      width: 100%;
      height: 70%;
  }
  a.on_top {
      width: 20px;
      height: 20px;
      text-align: center;
      padding: 10px 20px;
  }
}
